html{
  margin:0px 75px 20px 75px;
}
.title{
  font-family: 'Gugi', cursive;
}
.below-title{
  font-family:'Courgette';
  font-style:italic;
}
body{
  margin:0px 25px 0px 25px;
  border:3px solid grey;
  padding:10px 20px 0px 20px;
  background-color:#D3D3D3;
  
 
}
.photo{
  padding-left:20px;
  padding-top:20px;
}
.p1{
  padding-left:0px;
  font-family: 'Philosopher', sans-serif;
  font-size:17px;
}
.p2{
  font-family: 'Philosopher', sans-serif;
  font-size:17px;
  text-justify: inter-word;
  padding:25px 100px 25px 100px;
}
footer{
  background-color:#DCDCDC;
}


 


